body {
    font-family: "Roboto", sans-serif;
  background-color: #eff5f8;
  color: #001b44;
}

.app {
    display: block;
  background-color:	#FFFFE0;
  border: 1px solid #eceff1;
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0,
    rgba(60, 64, 67, 0.15) 0 2px 4px 3px;
  margin: 60px auto;
  padding: 20px;
  width: 80vw;
}

.header {
    display: flex;
  justify-content: space-between;
  align-items: center;
}

.timer{
    font-size: 20px;
}

.score{
    font-size: 30px;
}

.startPage {
  text-align: center;
}

.titleBtn {
  width: 50%;
  height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  background-color:  #001b44;
  color: white;
  font-size: 1.5em;
  line-height: 1.5;
  transition: 0.3s;
  border-radius: 8px;
}

.titleBtn:hover {
  background-color: white;
  color: #001b44;
}

.btn {
  width: 100%;
  height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  background-color:  #001b44;
  color: white;
  border-radius: 8px;
  font-size: 1.5em;
  line-height: 1.5;
  transition: 0.3s;
}

.btn:hover:not([disabled]) {
  background-color: white;
  color: #001b44;
}

#nextBtn {
  background: white;
  color: #001e4d;
  font-weight: 500;
  width: 150px;
  padding: 10px;
  margin: 20px auto 0;
  border-radius: 8px;
  display: block;
}

.correct{
  background: green;
}

.incorrect {
  background: red;
}